Hola!

Acabas de agregar un libro bien chingon a la libraria

<h1> {{book.title}} </h1>
<h1> {{book.genre.name}} </h1>
<h1> {{book.publishe_at}} </h1>
<h1> {{book.resume}} </h1>
<h1> {{book.image}} </h1>

